<div class="teambuilder">
  <!-- Centered Pills -->
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li class="tb-poke-pill active" slot="-1"><a href="#tb-home" class="tb-poke-link" id="tb-link-home" slot="-1">Home</a></li>
    <% [0,1,2,3,4,5].forEach(value => { %>
    <li class="tb-poke-pill"><a href="#tb-poke-<%- value %>" class="tb-poke-link" slot="<%- value %>" id="link-poke-<%- value %>">Poke&nbsp;#<%- value+1 %></a></li>
    <% }); %>
  </ul>
  <div class="panel panel-default tab current tb-home" id="tb-home" role="tabpanel">
    <div class="panel-body">
      <div class="col-sm-6">
        <form id="tb-save-form">
          <div class="form-group">
            <label for="tb-team-name" class="control-label">Current team</label>
            <div class="input-group">
              <input type="text" class="form-control" id="tb-team-name" value="" placeholder="Team name..." required>
              <span class="input-group-btn" title="Save team">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-floppy-save"></span></button>
              </span>
            </div>
          </div>
        </form>
        <div class="form-group saved-teams-group">
          <label for="tb-saved-teams" class="control-label">Stored teams</label>
          <input id="tb-saved-teams" data-role="tagsinput" value="Team1,Team2,Team3,Team4">
        </div>
        <div class="form-group deleted-teams-group">
          <label for="tb-deleted-teams" class="control-label">Deleted teams</label>
          <div class="input-group">
            <input id="tb-deleted-teams" data-role="tagsinput" value="Team1,Team2,Team3,Team4">
            <span class="input-group-btn" title="Delete teams">
              <button class="btn btn-default" id="delete-teams-btn"><span class="glyphicon glyphicon-trash"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 divider-left">
        <div class="flex-row">
          <div class="flex-column flex-stretch" data-toggle="buttons">
            <div class="form-group">
              <label for="tb-tier" class="control-label">Team Tier</label>
              <div class="input-group">
                <input type="text" class="form-control typeahead" id="tb-tier" value="" placeholder="Team tier...">
                <div class="dropdown input-group-btn">
                  <button class="btn btn-default dropdown-toggle" type="button" id="tb-gen-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gen
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="tb-gen-button" id="tb-gen-list">
                  </ul>
                </div>
              </div>
            </div>
            <% [1,2,3,4,5,6].forEach(value => { %>
            <span class="btn btn-default tb-poke-preview tb-poke-preview-<%- value-1 %><%- value == 1 ? " active" : "" %>" slot="<%- value-1 %>"><input type="radio">Poke <%- value %></span>
            <% }); %>
          </div>
          <div class="flex-column tb-right-column" data-toggle="buttons">
            <span class="btn btn-default tb-hackmons-btn" title="Hackmons"><input type="checkbox"><i class="fa fa-unlock"></i></span>
            <div class="stretchY"></div>
            <div class="stretchY"></div>
            <span class="btn btn-default tb-up-btn" title="Move up"><i class="fa fa-arrow-up"></i></span>
            <span class="btn btn-default tb-down-btn" title="Move down"><i class="fa fa-arrow-down"></i></span>
            <div class="stretchY"></div>
            <div class="stretchY"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default tab importable" id="tb-importable" role="tabpanel">
    <div class="panel-body">
      <div class="col-sm-8">
        <div class="form-group">
          <label for="tb-saved-teams" class="control-label">Importable</label>
          <textarea id="tb-importable-edit" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-sm-4 flex-column tb-import-btns">
        <span class="btn btn-default tb-import-btn">Import</span>
        <span class="btn btn-default tb-select-all">Select all</span>
        <span class="btn btn-default tb-team-import-btn" disabled="true">Whole team</span>
      </div>
    </div>
  </div>
  <% [0,1,2,3,4,5].forEach(value => { %>
  <div class="panel panel-default tab tb-poke" id="tb-poke-<%- value %>" role="tabpanel">
    <div class="panel-body">
      <div class="row tb-poke-top">
        <div class="col-sm-3">
          <div class="tb-sprite-block img-rounded"><img src="/images/s-m/0.png" class="tb-sprite" /></div>
          <div class="flex-row-basic">
            <img src="/images/types/type0.png" class="tb-type tb-type1"/><img src="" class="tb-type tb-type2" style="display: none"/>
          </div>
          <input type="text" class="form-control typeahead tb-poke-selection" placeholder="Pokémon..." slot="<%- value %>">
        </div>
        <div class="col-sm-9">
          <div class="tb-ev-group">
          <% ["HP","Atk","Def","S. Atk", "S. Def", "Speed"].forEach( (name, i) => { %>
            <div class="tb-ev-row tb-ev-row-<%- i %>" evslot="<%- i %>">
              <span class="tb-ev-name"><%- name %></span> 
              <span class="tb-stat">0</span>
              <input class="tb-ev-slider" data-slider-id='ev<%- value %>-<%- i %>-slider' type="text" data-slider-min="0" data-slider-max="252" data-slider-step="4" data-slider-tooltip="hide" data-slider-value="0">
              <div class="flex-row-basic">
                <input type="number" class="tb-ev-value" value="0" min="0" max="252" step="4" maxlength="3" size="2">
                <input type="number" class="tb-iv-value" value="31" min="0" max="31" step="1" maxlength="2" size="2">
              </div>
            </div>
          <% }); %>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<select class="col-sm-3 tb-item-selection">
          <option>Item</option>
        </select>-->
        <span class='col-sm-2 flex-row-basic'>
          <span class="stretchX"></span>
          <div class="flex-row-basic btn-group tb-genders" data-toggle="buttons">
            <span class='btn btn-default btn-sm tb-gender tb-gender-0'><i class="fa fa-dot-circle-o"></i></span>
          </div>
          <span class="stretchX"></span>
        </span>
        <span class='col-sm-2 no-padding'>
          <select class="form-control tb-nature-selection">
            <option>Nature</option>
          </select>
        </span>
        <span class="col-sm-3">
          <input class="typeahead tb-item-selection form-control" slot="<%- value %>" placeholder="Item..." type="text">
        </span>
        <span class="col-sm-3 tb-ability-container">
          <select class="tb-ability-selection form-control" slot="<%- value %>">
          </select>
        </span>
        <span class='col-sm-2 no-padding tb-level-container'><label for="tb-level-<%- value %>">Level</label><input type="number" id="tb-level-<%- value %>" class="tb-level-value" value="100" min="1" max="100" step="1" maxlength="3" size="2"></span>
      </div>
      <div class="well tb-description"></div>
      <div class="row tb-move-row">
        <div class="flex-row-basic">
          <% [0,1,2,3].forEach((name, i) => {%>
          <input type="text" class="form-control typeahead tb-move-selection" placeholder="Move..." slot="<%- i %>" pokeSlot="<%- value %>">
          <% }); %>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<script type="text/javascript">
  $(function() {
    new Teambuilder($(".teambuilder"));
  });
</script>